apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: {{ .Values.monitoring.namespace }}
  labels:
    grafana_datasource: "1"
data:
  datasources.yaml: |
    apiVersion: 1
    deleteDatasources:
      - name: Prometheus
        orgId: 1
      - name: Loki
        orgId: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus.{{ .Values.monitoring.namespace }}.svc:9090
        isDefault: true
        jsonData:
          timeInterval: "15s"
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.{{ .Values.monitoring.namespace }}.svc:3100
        jsonData:
          derivedFields:
            - datasourceUid: prom
              matcherRegex: ""
              name: ""
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: {{ .Values.monitoring.namespace }}
data:
  grafana.ini: |
    [server]
    # Set root_url for ingress/route if needed
    # root_url = %(protocol)s://%(domain)s/
    [security]
    admin_user = {{ .Values.grafana.adminUser }}
    admin_password = {{ .Values.grafana.adminPassword }}
    [dashboards]
    default_home_dashboard_path = /var/lib/grafana/dashboards
