apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: {{ .Values.monitoring.namespace }}
data:
  loki-config.yaml: |
    auth_enabled: false
    server:
      http_listen_port: 3100
    common:
      path_prefix: /var/loki
      storage:
        filesystem:
          chunks_directory: /var/loki/chunks
          rules_directory: /var/loki/rules
      compactor:
        working_directory: /var/loki/compactor
        shared_store: filesystem
    ruler:
      alertmanager_url: http://alertmanager.{{ .Values.monitoring.namespace }}.svc:9093
    schema_config:
      configs:
        - from: 2023-01-01
          store: boltdb-shipper
          object_store: filesystem
          schema: v11
          index:
            prefix: index_
            period: 24h
    limits_config:
      enforce_metric_name: false
      ingestion_rate_mb: 4
      ingestion_burst_size_mb: 8
      max_chunks_per_query: 2000000
    chunk_store_config:
      max_look_back_period: 0s
    table_manager:
      retention_deletes_enabled: {{ .Values.loki.config.table_manager_retention_deletes_enabled }}
      retention_period: {{ .Values.loki.config.table_manager_retention_period }}
